<div data-hook="admin_product_form_fields">

  <div class="row">

    <div class="left col-12" data-hook="admin_product_form_left">
      <div data-hook="admin_product_form_name">
        <%= f.field_container :user_access_token do %>
          <%= f.label :user_access_token, class: 'required' %>
          <small>
            <%= link_to "Check validity", "https://developers.facebook.com/tools/debug/accesstoken/?access_token=#{@facebook_page.user_access_token}", target: "_blank" %>
          </small>
          <%= f.text_field :user_access_token, class: 'fullwidth title', required: true %>
          <%= f.error_message_on :user_access_token %>
        <% end %>
      </div>

      <div data-hook="admin_product_form_name">
        <%= f.field_container :page_access_token do %>
          <%= f.label :page_access_token, class: 'required' %>
          <small>
            <%= link_to "Check validity", "https://developers.facebook.com/tools/debug/accesstoken/?access_token=#{@facebook_page.page_access_token}", target: "_blank" %>
          </small>
          <%= f.text_field :page_access_token, class: 'fullwidth title', required: true %>
          <%= f.error_message_on :page_access_token %>
        <% end %>
      </div>

    </div>

  </div>

  <div class="clear"></div>

  <div data-hook="admin_product_form_additional_fields"></div>

  <div class="clear"></div>
</div>
