<% order = order_form.object %>
<%= render 'spree/shared/error_messages', target: order %>

<table class="table cart-table table-responsive">
  <thead>
    <tr class="table-head">
      <th scope="col"><%= t('tables.image') %></th>
      <th scope="col"><%= t('tables.item') %></th>
      <th scope="col"><%= t('tables.price') %></th>
      <th scope="col"><%= t('tables.quantity') %></th>
      <th scope="col"><%= t('tables.action') %></th>
      <th scope="col"><%= t('tables.total') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'spree/orders/line_item', collection: order.line_items, locals: { order_form: order_form } %>
  </tbody>
</table>


<table class="table cart-table table-responsive">
  <%= render "spree/orders/adjustments" %>

  <tfoot>
    <% if order.adjustments.nonzero.exists? || order.line_item_adjustments.nonzero.exists? || order.shipment_adjustments.nonzero.exists? || order.shipments.any? %>
      <tr>
        <td colspan="3" align='right'><%= t('spree.cart_subtotal', count: order.line_items.sum(:quantity)) %> :</td>
        <td colspan='3'>
          <h4><%= order.item_total %>&nbsp;<%= order.currency %></h4>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan="3" align='right'><%= t('spree.total') %> :</td>
      <td colspan='3'>
        <h2><%= order.total %>&nbsp;<%= order.currency %></h2>
      </td>
    </tr>
  </tfoot>
</table>
