<% variant = line_item.variant -%>

<%= order_form.fields_for :line_items, line_item do |item_form| %>
  <tr class="line-item">
    <td>
      <%= link_to(render('spree/shared/image',
         image: (variant.gallery.images.first || variant.product.gallery.images.first),
         size: :small), variant.product) %>
    </td>
    <td>
      <a href="<%= product_path(variant.product) %>"><%= line_item.name %></a>
      <%= variant.options_text %>
      <% if line_item.insufficient_stock? %>
        <span class="out-of-stock badge badge-danger">
          <%= t('spree.out_of_stock') %><br />
        </span>
      <% end %>
    </td>
    <td>
      <span class="font-weight-bold"><%= "#{line_item.single_money.to_d} #{line_item.currency}" %></span>
    </td>
    <td>
      <div class="qty-box">
        <div class="input-group">
          <%= item_form.number_field :quantity, min: 0, max: 5, class: "form-control input-number line_item_quantity", size: 5 %>
        </div>
      </div>
    </td>
    <td><a id="delete_<%= dom_id(line_item) %>" href="#" class="delete icon"><i class="ti-close"></i></a></td>
    <td>
      <span class="td-color"><%= "#{line_item.amount} #{line_item.currency}" unless line_item.quantity.nil? %></span>
    </td>
  </tr>
<% end %>
