<section class="section-b-space light-layout w-100">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="success-text"><i class="fa fa-check-circle" aria-hidden="true"></i>
          <h2><%= t('spree.order_number', number: @order.number) %></h2>
          <% if order_just_completed?(@order) %>
            <p><%= t('spree.thank_you_for_your_order') %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-b-space">
  <div class="container">
    <%= render partial: 'spree/shared/order_details', locals: { order: @order } %>
  </div>
</section>
<!-- Section ends -->

<div class="text-center pb-3">
  <div class="align-center">
    <%= link_to t('spree.back_to_store'), spree.root_path, class: "btn-solid btn" %>
    <% unless order_just_completed?(@order) %>
      <% if try_spree_current_user && respond_to?(:account_path) %>
        <%= link_to t('spree.my_account'), spree.account_path, class: "btn-solid btn" %>
      <% end %>
    <% end %>
  </div>
</div>
