<% currency = current_pricing_options.currency %>
<fieldset id='shipping_method' data-hook>
  <div class="checkout-title">
    <h3><%= t('spree.delivery') %></h3>
  </div>
  <div class="inner" data-hook="shipping_method_inner">
    <div id="methods">
      <%= form.fields_for :shipments do |ship_form| %>

        <div class="shipment mb-3 container">
          <h4><%= t('spree.package_from') %> <strong><%= ship_form.object.stock_location.name %></strong></h4>

          <% ship_form.object.manifest.each do |item| %>
            <% image = item.variant.gallery.images.first || item.variant.product.gallery.images.first || item.variant.product %>
            <div class="row product-order-detail pb-1">
              <div class="col-md-2 col-4">
                <%= render 'spree/shared/image',
                    image: (item.variant.gallery.images.first || item.variant.product.gallery.images.first),
                    size: :mini,
                    options: { class: 'img-fluid blur-up lazyload' } %>
              </div>
              <div class="col-md-10 col-8 order_detail">
                <div>
                  <h5>
                    <%= t('spree.item') %>: <%= item.variant.name %>
                    <br />
                    <%= t('spree.qty') %>: <%= item.quantity %>
                  </h5>
                </div>
              </div>
              <!-- Hiding price in delivery checkout due to wrong price in PH store -->
              <!-- <div class="col-3 order_detail">
                <div>
                  <h5><%# "#{item.variant.price} #{currency}" %></h5>
                </div>
              </div> -->
            </div>
          <% end %>

          <h5 class="stock-shipping-method-title pt-3"><%= t('spree.shipping_method') %></h5>
          <ul class="radios shipping-methods">
            <% ship_form.object.shipping_rates.each do |rate| %>
              <li class="shipping-method d-block">
                <label class="w-100">
                  <div class="row">
                    <div class="rate-name col-8">
                      <%= ship_form.radio_button :selected_shipping_rate_id, rate.id %>
                      <%= rate.name %>
                    </div>
                    <div class="rate-cost font-weight-bold col-4 text-right"><%= "#{rate.cost} #{currency}" %></div>
                  </div>
                </label>
              </li>
            <% end %>
          </ul>
        </div>

      <% end %>

      <% if @differentiator.try(:missing?) %>
        <div class="shipment unshippable pt-5">
          <h4><%= t('spree.unshippable_items') %></h4>

          <div class="row product-order-detail pt-3">
            <div class="col-md-2 col-4"></div>
            <div class="col-md-10 col-8 order_detail">
              <div>
                <h4><%= t('spree.item') %></h4>
              </div>
            </div>
            <!-- Hiding price in delivery checkout due to wrong price in PH store -->
            <!-- <div class="col-3 order_detail">
              <div>
                <h4><%# t('spree.price') %></h4>
              </div>
            </div> -->
          </div>

          <% @differentiator.missing.each do |variant, quantity| %>
            <% image = variant.gallery.images.first || variant.product.gallery.images.first || variant.product %>
            <div class="row product-order-detail pb-1">
              <div class="col-md-2 col-4">
                <%= render 'spree/shared/image',
                    image: (variant.gallery.images.first || variant.product.gallery.images.first),
                    size: :mini,
                    class: 'img-fluid blur-up lazyload' %>
              </div>
              <div class="col-md-10 col-8 order_detail">
                <div>
                  <h5>
                    <%= t('spree.item') %>: <%= variant.name %>
                    <br />
                    <%= t('spree.qty') %>: <%= quantity %>
                  </h5>
                </div>
              </div>
              <!-- Hiding price in delivery checkout due to wrong price in PH store -->
              <!-- <div class="col-3 order_detail">
                <div>
                  <h5><%# "#{variant.price} #{currency}" %></h5>
                </div>
              </div> -->
            </div>
          <% end %>
        </div>

      <% end %>

    </div>
    <% if Spree::Config[:shipping_instructions] %>
      <p id="minstrs" data-hook>
        <%= form.label :special_instructions, t('spree.shipping_instructions') %><br />
        <%= form.text_area :special_instructions, cols: 40, rows: 7 %>
      </p>
    <% end %>
  </div>
</fieldset>

<br />

<div class="form-buttons" data-hook="buttons">
  <%= submit_tag t('spree.save_and_continue'), class: 'btn-solid btn' %>
</div>
