<% order_confirm_state = @order.state == 'confirm' %>

<div class="checkout-page w-100">
  <div id="checkout" class="checkout-form">

    <%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>

      <div class="row">
        <div class="<%= !order_confirm_state && 'col-lg-6'  %> col-sm-12 col-xs-12">

          <%= form_for @order, url: update_checkout_path(@order.state), html: { id: "checkout_form_#{@order.state}" } do |form| %>

            <% if @order.state == 'address' || !@order.email? %>
              <div class="field field-required pb-3" style='clear: both'>
                <%= form.label :email %><br />
                <%= form.email_field :email, required: true %>
                <p class="text-help"><%= t('forms.email_guide') %></p>
              </div>
            <% end %>

            <%= render @order.state, form: form %>
          <% end %>

        </div>

        <% if !order_confirm_state %>
          <div id="checkout-summary" data-hook="checkout_summary_box" class="col-lg-6 col-sm-12 col-xs-12">
            <%= render partial: 'summary', locals: { order: @order } %>
          </div>
        <% end %>
      </div>

  </div>
</div>

<script>
  Spree.current_order_id = "<%= @order.number %>"
  Spree.current_order_token = "<%= @order.guest_token %>"
</script>
