<% price = @product.price_for(current_pricing_options, false) %>
<%= form_for :order, url: populate_orders_path do |f| %>

  <% if price %>
    <% money = price.money %>
    <% if price.on_sale? %>
      <h4>
        <del><%= "#{price.original_price} #{current_pricing_options.currency}" %></del>
        <span><%= price.discount_percent.floor %>% off</span>
      </h4>
      <h3>
        <%= "#{money.to_d} #{current_pricing_options.currency}" %>
      </h3>

    <% else %>
      <h3>
        <%= "#{money.to_d} #{current_pricing_options.currency}" %>
      </h3>
    <% end %>

    <% if @product.variants_and_option_values_for(current_pricing_options).any? %>
      <div id="product-variants" class="product-description border-product">
        <h6 class="product-title"><%= t('spree.variants') %></h6>

        <table class="margin-0-auto">
          <tbody>
            <% @product.variants_and_option_values_for(current_pricing_options).each_with_index do |variant, index| %>

              <tr class="d-flex align-items-center">
                <td class="text-left w-20">
                  <%= radio_button_tag "variant_id", variant.id, index == 0, 'data-price' => variant.price_for(current_pricing_options)  %>
                </td>
                <td class="text-left">
                  <%= variant_options variant %>
                </td>
                <td class="text-left small">
                  <% v_price = variant_price variant %>
                  <% if v_price %>
                    <span class="badge badge-light price diff"><%= v_price %></span>
                  <% end %>
                </td>
                <td class="text-left small">
                  <% unless variant.can_supply? %>
                    <span class="badge badge-danger out-of-stock small"><%= t('spree.out_of_stock') %></span>
                  <% end %>
                </td>
              </tr>

            <% end %>
          </tbody>
        </table>

      </div>
    <% else %>
      <%= hidden_field_tag "variant_id", @product.master.id %>
    <% end %>

    <div class="product-description border-product">

      <h6 class="product-title">quantity</h6>
      <div class="qty-box">

        <div class="input-group">
          <%= number_field_tag :quantity, 1, class: 'form-control input-number', min: 1, max: 5 %>
        </div>
      </div>

      <% if @product.master.can_supply? %>
        <link itemprop="availability" href="http://schema.org/InStock" />
      <% elsif @product.variants.empty? %>
        <br />
        <span class="out-of-stock"><%= t('spree.out_of_stock') %></span>
      <% end %>

    </div>

    <div class="product-buttons">
      <button type="submit" class="btn btn-solid"><%= t('spree.add_to_cart') %></button>
    </div>

  <% else %>
      <div id="product-price">
        <br>
        <div><span class="price selling" itemprop="price"><%= t('spree.product_not_available_in_this_currency') %></span></div>
      </div>
  <% end %>

<% end %>
