<% content_for :sidebar do %>
  <%= render partial: 'spree/shared/filters' %>
<% end %>

<div class="collection-content col">
  <div class="page-main-content">
    <div class="row">
      <div class="col-sm-12">
        <div class="collection-product-wrapper">

          <% if params[:keywords] %>

            <% if @products.empty? %>
              <h6 class="search-results-title"><%= t('spree.no_products_found') %></h6>
            <% else %>
              <%= render partial: 'spree/shared/products', locals: { products: @products, selected_pricing_options: current_pricing_options } %>
            <% end %>

          <% else %>
            <%= render partial: 'spree/shared/products', locals: { products: @products, selected_pricing_options: current_pricing_options } %>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'spree/shared/quick_view' %>