<% description = product_description(@product) rescue t('spree.product_has_no_description') %>
<% has_video   = @product.embedded_video.present? %>

<meta property="og:url"         content="<%= spree.product_url(@product) %>" />
<meta property="og:type"        content="website" />
<meta property="og:title"       content="<%= @product.name %>" />
<meta property="og:description" content="<%= description %>" />
<meta property="og:image"       content="<%= image_url @product.gallery.images.first.url(:product) if @product.gallery.images.any? %>" />

<!-- Images -->
<div class="col-lg-1 col-sm-2 col-xs-12">
  <div class="row">
    <div class="col-12 p-0">
      <div class="slider-right-nav">

        <% @product.gallery.images.each_with_index do |image, index| %>
          <div><img src="<%= image.url(:small) %>" alt="<%= image.try(:alt) %>" class="img-fluid blur-up lazyload"></div>
        <% end %>

      </div>
    </div>
  </div>
</div>
<div class="col-lg-3 col-sm-10 col-xs-12 order-up">
  <div class="product-right-slick">

    <% @product.gallery.images.each_with_index do |image, index| %>
      <div><img src="<%= image.url(:product) %>" alt="<%= image.try(:alt) %>" class="img-fluid blur-up lazyload image_zoom_cls-<%= index %>"></div>
    <% end %>

  </div>
</div>
<!-- END Images -->

<!-- Details -->
<div class="col-lg-4">
  <div class="product-right product-description-box">
    <h2><%= @product.name %></h2>
    <div class="single-product-tables border-product detail-section">
      <%= render partial: 'properties' %>
    </div>
    <div class="border-product">
      <h6 class="product-title"><%= t('products.share') %></h6>

      <div class="fb-share-button" data-href="<%= spree.product_url(@product) %>" data-layout="button" data-size="large"></div>
    </div>
    <div class="border-product">
      <h6 class="product-title"><%= t('labels.100_secure_payment') %></h6>
      <div class="payment-card-bottom">
        <%= render partial: 'spree/shared/payment_icons' %>
      </div>
    </div>
  </div>
</div>
<!-- END Details -->

<!-- Variants -->
<div class="col-lg-4">
  <div class="product-right product-form-box">
    <%= render partial: 'cart_form' %>
  </div>
</div>
<!-- END Variants -->

<!-- product-tab starts -->
<section class="tab-product m-0 w-100">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12">

        <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
          <li class="nav-item"><a class="nav-link active" id="top-home-tab" data-toggle="tab"
              href="#top-home" role="tab" aria-selected="true"><%= t('products.details') %></a>
            <div class="material-border"></div>
          </li>
          <% if has_video %>
            <li class="nav-item"><a class="nav-link" id="contact-top-tab" data-toggle="tab"
                href="#top-contact" role="tab" aria-selected="false"><%= t('products.video') %></a>
              <div class="material-border"></div>
            </li>
          <% end %>
        </ul>

        <div class="tab-content nav-material" id="top-tabContent">
          <div class="tab-pane fade show active force-p" id="top-home" role="tabpanel"
            aria-labelledby="top-home-tab">
            <%= description.gsub(/\n/, '<br />').gsub('<p>', '').html_safe %>
          </div>
          <% if has_video %>
            <div class="tab-pane fade" id="top-contact" role="tabpanel" aria-labelledby="contact-top-tab">
              <div class="mt-4 text-center">
                <%=raw @product.embedded_video %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- product-tab ends -->

<!-- TODO: logic for related products -->
<!-- render partial: 'spree/products/related -->

<!-- Facebook Share -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0&appId=332534107528715" nonce="UKD8BM2a"></script>
<!-- Facebook Share ends -->