<% amount_attr ||= :amount %>
<% currency_attr ||= :currency %>
<% currency ||= nil %>
<% required ||= nil %>

<div class="input-group number-with-currency <%= "number-with-currency-with-select" unless currency %> js-number-with-currency">
  <!-- <div class="input-group-prepend">
    <span class="input-group-text number-with-currency-symbol"></span>
  </div> -->
  <%= f.text_field amount_attr, value: number_to_currency(f.object.public_send(amount_attr), unit: '', delimiter: ''), class: 'form-control number-with-currency-amount', required: required %>
  <% if currency %>
    <div class="input-group-append">
      <span class="input-group-text number-with-currency-addon" data-currency="<%= currency %>">
        <%= ::Money::Currency.find(currency).iso_code %>
      </span>
    </div>

  <!-- OFS Custom for product price selection -->
  <% elsif @setCurrencyByCountry %>
    <%= f.hidden_field currency_attr %>
    <div class="input-group-append">
      <span id="price_currency_text" class="input-group-text number-with-currency-addon" data-currency="<%= currency %>">
      </span>
    </div>

  <% else %>
    <% currencies = @available_currencies.present? ? @available_currencies : Spree::Config.available_currencies.map(&:iso_code) %>
    <%= f.select currency_attr, currencies, {selected: Spree::Config.currency}, {required: required, class: 'number-with-currency-select'} %>
  <% end %>
</div>
