<% currency = order.currency %>
<div class="row">
  <div class="col-lg-6">
    <div class="product-order">
      <% if order.completed? %>
        <h3>your order details</h3>
      <% end %>

      <% order.line_items.each do |item| %>
        <% image = item.variant.gallery.images.first || item.variant.product.gallery.images.first || item.variant.product %>
        <div class="row product-order-detail">
          <div class="col-3"><img src="<%= image.attachment.url(:small)%>" alt="" class="img-fluid blur-up lazyload"></div>
          <div class="col-3 order_detail">
            <div>
              <h4><%= t('tables.item') %></h4>
              <h5><%= item.variant.product.name %></h5>
            </div>
          </div>
          <div class="col-3 order_detail">
            <div>
              <h4><%= t('tables.quantity') %></h4>
              <h5><%= item.quantity %></h5>
            </div>
          </div>
          <div class="col-3 order_detail">
            <div>
              <h4><%= t('tables.price') %></h4>
              <h5><%= "#{item.amount} #{currency}" %></h5>
            </div>
          </div>
        </div>
      <% end %>

      <div class="total-sec">
        <div>
          <div class="row mb-2">
            <div class="col-9"><b><%= t('spree.subtotal') %></b></div>
            <div class="col-3 text-right"><%= "#{order.item_total} #{currency}" %></div>
          </div>

          <% if order.line_item_adjustments.exists? %>
            <% if order.line_item_adjustments.promotion.eligible.exists? %>
              <% order.line_item_adjustments.promotion.eligible.group_by(&:label).each do |label, adjustments| %>
                <div class="row mb-2">
                  <div class="col-9"><b><%= t('spree.promotion') %>:</b> <span><%= label %></span></div>
                  <div class="col-3 text-right"><%= "#{adjustments.sum(&:amount)} #{currency}" %></div>
                </div>
              <% end %>
            <% end %>
          <% end %>

          <% order.shipments.group_by { |s| s.selected_shipping_rate.name }.each do |name, shipments| %>
            <div class="row mb-2">
              <div class="col-9"><b><%= t('spree.shipping') %>:</b> <span><%= name %></span></div>
              <div class="col-3 text-right"><%= "#{shipments.sum(&:total_before_tax)} #{currency}" %></div>
            </div>
          <% end %>

          <% if order.all_adjustments.tax.exists? %>
            <% order.all_adjustments.tax.group_by(&:label).each do |label, adjustments| %>
              <div class="row mb-2">
                <div class="col-9"><b><%= t('spree.tax') %>:</b> <span><%= label %></span></div>
                <div class="col-3 text-right"><%= "#{adjustments.sum(&:amount)} #{currency}" %></div>
              </div>
            <% end %>
          <% end %>

          <% if order.total_applicable_store_credit > 0.0 %>
            <div class="row mb-2">
              <div class="col-9"><b><%= t('spree.store_credit.store_credit') %></b></div>
              <div class="col-3 text-right"><%= "#{order.total_applicable_store_credit} #{currency}" %></div>
            </div>
          <% end %>

          <% if order.adjustments.eligible.exists? %>
            <% order.adjustments.eligible.each do |adjustment| %>
            <% next if (adjustment.source_type == 'Spree::TaxRate') and (adjustment.amount == 0) %>
              <div class="row mb-2">
                <div class="col-9"><b><%= adjustment.label %></b></div>
                <div class="col-3 text-right"><%= "#{adjustment.amount} #{currency}" %></div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="final-total">
        <h3><%= t('spree.order_total') %> <span><%= "#{order.order_total_after_store_credit} #{currency}" %></span></h3>
      </div>
    </div>
  </div>


  <div class="col-lg-6">
    <div class="row order-success-sec">

      <% if order.has_checkout_step?("address") %>
        <div class="col-sm-6">
          <h4><%= t('spree.billing_address') %> <%= link_to "(#{t('spree.actions.edit')})", checkout_state_path(:address) unless order.completed? %></h4>
          <%= render partial: 'spree/shared/address', locals: { address: order.bill_address } %>
        </div>

        <% if order.has_checkout_step?("delivery") %>
          <div class="col-sm-6">
            <h4><%= t('spree.shipping_address') %> <%= link_to "(#{t('spree.actions.edit')})", checkout_state_path(:address) unless order.completed? %></h4>
            <%= render partial: 'spree/shared/address', locals: { address: order.ship_address } %>
          </div>

          <div class="col-sm-12 pt-3">
            <h4><%= t('spree.shipments') %> <%= link_to "(#{t('spree.actions.edit')})", checkout_state_path(:delivery) unless order.completed? %>
              <% if order.shipment_state %>
                <span class="<%= badge_class(order.shipment_state) %>">
                  <%= I18n.t("spree.shipment_states.#{order.shipment_state}").titleize %>
                </span>
              <% end %>
            </h4>
            <ul class="order-detail">
              <% order.shipments.each do |shipment| %>
                <li>
                  <i class='fa fa-truck pr-1'></i>
                  <%= t('spree.shipment_details', stock_location: shipment.stock_location.name, shipping_method: shipment.selected_shipping_rate.name) %>
                </li>
              <% end %>
            </ul>
            <%= render(partial: 'spree/shared/shipment_tracking', locals: {order: order}) if order.shipped? %>
          </div>
        <% end %>
      <% end %>

      <% if order.has_checkout_step?("payment") %>
        <div class="col-sm-12 payment-mode pt-3">
          <h4><%= t('spree.payment_information') %> <%= link_to "(#{t('spree.actions.edit')})", checkout_state_path(:payment) unless order.completed? %>
            <% if order.payment_state %>
              <span class="<%= badge_class(order.payment_state) %>">
                <%= I18n.t("spree.payment_states.#{order.payment_state}").titleize %>
              </span>
            <% end %>
          </h4>
          <p>
            <% order.payments.valid.each do |payment| %>
              <%= render payment %><br/>
            <% end %>
          </p>
        </div>
      <% end %>

    </div>
  </div>
</div>