<div class="product-top-filter">
  <%
    paginated_products = @searcher.retrieve_products if params.key?(:keywords)
    paginated_products ||= products
    per_page = [12, 24, 50]
  %>

  <% content_for :head do %>
    <% if paginated_products.respond_to?(:total_pages) %>
      <%= rel_next_prev_link_tags paginated_products %>
    <% end %>
  <% end %>

  <div class="row">
    <div class="col-xl-12">
      <div class="filter-main-btn"><span class="filter-btn btn btn-theme"><i class="fa fa-filter"
            aria-hidden="true"></i> Filter</span></div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="product-filter-content">
        <div class="search-count">
          <h5><%= t('labels.showing_page', page1: params[:page] || 1, page2: paginated_products.total_pages > 0 ? paginated_products.total_pages : 1) %></h5>
        </div>

        <div class="product-page-per-view border-left">
        </div>
        <div class="product-page-filter">
          <form action="<%= url_for per_page: per_page[0] %>" method="GET">
            <select onchange="this.form.submit()">
              <% per_page.each do |count| %>
                <option value="<%= count %>"><%= t('labels.products_per_page', count: count) %></option>
              <% end %>
            </select>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="product-wrapper-grid">
  <div class="row margin-res">

    <% if products.empty? %>
      <div class="w-100 p-2 text-center"><%= t('spree.no_products_found') %></div>
    <% elsif params.key?(:keywords) %>
      <div class="w-100 p-2 text-center"><%= t('spree.search_results', keywords: h(params[:keywords])) %></div>
    <% end %>

    <% if products.any? %>

      <% products.each do |product| %>
        <% cache product do %>
          <div class="col-xl-3 col-6 col-grid-box">
            <%= render partial: 'spree/shared/product_box', locals: { product: product, taxon: @taxon, selected_pricing_options: selected_pricing_options } %>
          </div>
        <% end %>
      <% end %>

    <% end %>

  </div>
</div>

<div class="product-pagination">
  <div class="theme-paggination-block">
    <div class="row">
      <div class="col-xl-6 col-md-6 col-sm-12">

        <% if paginated_products.respond_to?(:total_pages) %>
          <%= paginate paginated_products %>
        <% end %>

      </div>
      <div class="col-xl-6 col-md-6 col-sm-12">
        <div class="product-search-count-bottom">
          <h5><%= t('labels.showing_page', page1: params[:page] || 1, page2: paginated_products.total_pages > 0 ? paginated_products.total_pages : 1) %></h5>
        </div>
      </div>
    </div>
  </div>
</div>
